header {
    font-family: 'Poppins', sans-serif;
    background-color:#2C7CB0 ;
    padding: 10px;
}
header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
main {
    font-family: 'Quicksand', sans-serif;
    /* about*/
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.about img {
    width: auto;
    height: 125px;
}
/* languages*/
.languages {
    background-color:#D6E9F5 ;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.languages img {
    height: auto;
    width: 200px;
}
/* projects*/
.projects h2 {
    display: flex;
    justify-content: center;
}
.projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}
.projects ul img {
    width: auto;
    height: 200px;
    padding: 10px;
}
/* footer*/
footer  {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    font-family: 'Quicksand', sans-serif;
    background-color:#D6E9F5 ;
}

/*contacts*/
.contacts {
    font-family: 'Quicksand', sans-serif;
}
.contacts h1 {
    padding-left:10px;
}
.contacts img {
    width: auto;
    height: 200px;
    padding: 10px;
    padding-top:20px;
}
.contact-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 15px;
    font-family: 'Quicksand', sans-serif;
    background-color:#D6E9F5 ;
}
/*animation */
.about-text {
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein {
    0% {
        transform: scale(0.1);
        opacity: 0;
      }
      60% {
        transform: scale(1.2);
        opacity: 1;
      }
      100% {
        transform: scale(1);
      }
}
#interact1:hover, #interact2:hover,#interact3:hover {
    border: 1px solid blue
}

@media only screen and (max-width: 640px) {
    .languages {
        flex-wrap: wrap;
    }
    header ul {
        flex-direction: column;
        align-items: center;
    }
}